/* Media queries */

/* Responsive queries */
@media only screen and (max-width: 856px){

    .clock{
        position: relative; left: 0%;
    }


   .parent{
    position: absolute; top:53%; left: 1%;
    width: 350px; height: 425px;
   }

   .boxparent{
   position: relative; top: 5%; left: -23%;
   /* width: 450px; */
   }

   .breakfast{
    left: 1%; top: 34%;
   }

   .GM{
    position: absolute; top: 93%; left: 44%;
    width: 300px;
   }

   .alarm{
    position: absolute; top: 105%; left: 44%;
   }

   #parent1{
    position: absolute; top: 35%; left: 58%;
    width: 225px; padding: 10px;
   }

   #morningimage{
    width: 350px; height: 350px;
    position: absolute; top: 54%; left: 44%;
    background-size: contain;
   }

   #change1{
    margin-left: 37%;   
   }

    #change2{
        margin-left: 37%; margin-top: 5%;  
    }

    #change3{
            margin-left: 37%; margin-top: 5%;  
    }

    #change4{
        margin-left: 37%; margin-top: 5%; 
    }


}

    /* Media queries */

/* Mobile Screen queries */
@media only screen and (max-width:545px){

.classbox2{
    margin-left: 30%;
}
.box{
    margin-left: 5%;
}
.b{
    height: 40px; width: 40px;
}

.breakfast{
    padding: 5px; width: 290px; 
}

#parent1{
top: 170%; left: 2%;
}

.parent{
    top: 45%;
}

#morningimage{
    top: 115%; left: 2%;
}

.GM{
    top: 150%; left: 2%;
}

.alarm{
    top: 163%; left: 2%;
}

}

 /* Media queries */

/* Mobile Screen queries */
/* @media only screen and (max-width:414px){

    .breakfast{
        padding: 5px; width: 290px; 
        top: 25%;
    }   

    .parent{
        top: 34%;
    }

    #morningimage{
        top: 86%;
    }

    .GM{
        top: 115%;
    }

    .alarm{
        top: 125%;
    }

    #parent1{
        top: 132%;
    }










} */

















